/* Arrow */
.btn-with-arrow {
	background-color: transparent;
	font-weight: 600;
}

.btn-with-arrow span {
	background-color: #ccc;
	display: inline-block;
	height: 25px;
	line-height: 27px;
	width: 24px;
	border-radius: 50%;
	margin-left: 10px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.btn-with-arrow i {
	color: #FFF;
	font-size: 13px;
	top: -1px;
	position: relative;
}

.btn-with-arrow:hover span {
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}

.btn-with-arrow.btn-lg span, .btn-with-arrow.btn-xl span {
	line-height: 23px;
}

.btn-with-arrow.btn-xs span {
	line-height: 25px;
}


/* Outline */
.btn-outline {
	border-width: 2px;
	padding: 7.728px 14.928px;
	padding: 0.483rem 0.933rem;
}

.btn-outline.btn-xs {
	padding: 2.4px 8px;
	padding: 0.15rem 0.5rem;
}

.btn-outline.btn-sm {
	padding: 4px 10.4px;
	padding: 0.25rem 0.65rem;
}

.btn-outline.btn-lg {
	padding: 7.2px 16px;
	padding: 0.45rem 1rem;
}

.btn-outline.btn-xl {
	padding: 12px 32px;
	padding: 0.75rem 2rem;
}

/* Rounded */
.btn-rounded {
	border-radius: 35px;
}

/* Rounded */
.btn-rounded-icon {
	border-radius: 50px;
	padding: 0;
	width: 50px;
	height: 50px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.btn-rounded-icon[data-hash] > i {
	pointer-events: none;
}
